body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.navbar a:hover {
    color: #777;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.main-content {
    text-align: center;
    padding: 2em;
    margin-top: 3em;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30h; /* 화면 전체 높이 설정 */
}
.search-bar input {
    width: 55%;
    border-radius: 20px;
    border: 1px solid #bbb;
    margin: 10px 0;
    padding: 10px 12px;
    justify-content: center;
    font-family: fontAwesome;
}

.bottom-section{
    margin-top: 5em;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.tabs button {
    background-color: white;
    border: 1px solid #fbfbfb;
    padding: 0.5em 1em;
    margin: 0 5px;
    cursor: pointer;
    color : #000;
}
.tabs button:hover {
    background-color: #777777;
    color : #ffff;;
}
.tabs .active {
    background-color: #413f3f;
    color:#ffff;
}   

/* 배너시작 */
.banner-frame {

    justify-content: center;
    align-items: center;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin-left:10em;
    box-sizing: border-box;
}

.banner-main {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    box-sizing: border-box;
}

.banner-sub {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.mainbanner-image {
    /* margin-left: 10em; */
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.subbanner-image,
.subbanner-image-second {
    width: 100%;
    /* max-width: 150px;*/
    margin: 10px 0; 
    box-sizing: border-box;
}
.introduce-books{

}


.mainbanner-image img {
    width: 25rem;
    height: auto;
    box-sizing: border-box;
    margin-left: 20%;
    cursor: pointer;
}

.recommended-book{
    margin-left: 15%;
}


.subbanner-image img,
.subbanner-image-second img {
    width: 32rem;
    margin-right: 30%;
    cursor: pointer;
    /* margin-left: 10em; */
}


/* ======배너 끝====== */


.book-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
    
}
.book-section .book {
    height: 30rem;
    max-width: 18em;
    flex: 1 1 18%;
    box-sizing: border-box;
    padding: 1em;
    margin: 1em;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    cursor:pointer;
}
.book-section img {
    height: 20em;
    max-width: 100%;
}
.book-section h2 {
    margin-top: 1em;
    font-size: 1.5em;
}

.box {
    display: inline;
    border-radius: 0;
    padding : 2em;
    margin: auto;
    /* text-align: center; */
    color: #bbb;
}


/* input {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #bbb;
    margin: 10px 0;
    padding: 10px 12px;
    font-family: fontAwesome;
}  */


